<MudCarousel Class="mud-width-full" Style="height:400px;" ShowArrows="true" ShowBullets="true"
             EnableSwipeGesture="@true" AutoCycle="true" TData="object">

    <MudCarouselItem Transition="@Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudImage Src="/public/images/slide1.png"
                      Alt="slide" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="@Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudImage Src="/public/images/slide2.png"
                      Alt="slide" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />
        </div>
    </MudCarouselItem>

    <MudCarouselItem Transition="@Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudImage Src="/public/images/slide3.png"
                      Alt="slide" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" />
        </div>
    </MudCarouselItem>

</MudCarousel>

@code {

}
