@page "/create-admin"
@using PizzaBookingViewModel
@inject IAuthService _AuthService
@inject NavigationManager _NavigationManager
@layout EmptyLayout
<PageTitle>Create Admin account</PageTitle>


<div class="row p-4">
	
	<div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 card p-3">
			
		<h1 class="text-center">Sign up Admin</h1>

		<EditForm class="w-100" Model="signUpModel" OnValidSubmit="HandleSignUp">
			<DataAnnotationsValidator/>

			<div class="d-lg-flex justify-content-lg-start mt-lg-3 gap-2">
				<div class="form-floating mt-3 mt-lg-0 w-100">
					<InputText type="text" class="form-control" placeholder="Enter first name..." @bind-Value="signUpModel.FirstName" />
					<label for="">First name</label>
					<ValidationMessage For="@(() => signUpModel.FirstName)"/>
				</div>

				<div class="form-floating mt-3 mt-lg-0 w-100">
					<InputText type="text" class="form-control" placeholder="Enter last name..." @bind-Value="signUpModel.LastName" />
					<label for="">Last name</label>
					<ValidationMessage For="@(() => signUpModel.LastName)" />
				</div>
			</div>

			<div class="form-floating mt-3">
				<InputText type="text" class="form-control" placeholder="Enter your user name..." @bind-Value="signUpModel.LoginName" />
				<label for="">Username</label>
				<ValidationMessage For="@(() => signUpModel.LoginName)" />
			</div>

			<div class="form-floating mt-3">
				<InputText type="password" class="form-control" placeholder="Password" @bind-Value="signUpModel.Password"/>
				<label for="">Password</label>
				<ValidationMessage For="@(() => signUpModel.Password)" />
			</div>

			<div class="form-floating mt-3">
				<InputText type="password" class="form-control" placeholder="RePassword" @bind-Value="signUpModel.RePassword"/>
				<label for="">Confirm password</label>
				<ValidationMessage For="@(() => signUpModel.RePassword)" />
			</div>

			<div class="form-floating mt-3">
				<InputText type="text" class="form-control" placeholder="Phone number" @bind-Value="signUpModel.PhoneNumber" />
				<label for="">Phone number</label>
				<ValidationMessage For="@(() => signUpModel.PhoneNumber)" />
			</div>

			<div class="text-end mt-3">
				<button class="btn btn-success" type="submit">Sign up</button>
			</div>
		</EditForm>
	</div>
</div>

@code {
	SignUpViewModel signUpModel = new SignUpViewModel();

	private async void HandleSignUp()
	{
		var reponse = await _AuthService.SignUpAsync(signUpModel);
		if (reponse == null || !reponse.IsSucceed)
		{
			Console.WriteLine("Sign up Error!");
			return;
		}
		Console.WriteLine("Sign up Success!");
		_NavigationManager.NavigateTo("/login");
	}
}
