@page "/admin"
<PageTitle>Admin - DashBoard</PageTitle>

<div class="d-flex justify-center gap-4">
    <MudSelect T="string" Label="Report by"
               Variant="Variant.Outlined"
               SelectedValuesChanged="HandleReport"
               AnchorOrigin="Origin.BottomCenter"@bind-Value="reportBy">
        <MudSelectItem T="string" Value="@("year")" />
        <MudSelectItem T="string" Value="@("month")" />
    </MudSelect>

    <MudSelect T="int" Label="Year"
               Variant="Variant.Outlined" 
               SelectedValuesChanged="HandleReport"
               AnchorOrigin="Origin.BottomCenter" @bind-Value="year">
        @foreach (var item in listYear)
        {
            <MudSelectItem T="int" Value="@item" />

        }
    </MudSelect>

    <MudSelect T="int" Label="Month"
               Disabled="@(reportBy == "year")"
               Variant="Variant.Outlined"
               AnchorOrigin="Origin.BottomCenter" @bind-Value="month"
               SelectedValuesChanged="HandleReport">
        @for (int i = 12; i > 0; i--)
        {
            <MudSelectItem T="int" Value="@i" />
        }
    </MudSelect>
</div>


<div class="d-flex justify-center">
    <MudChart 
        Style="width: 80%; margin: auto;"
        ChartType="ChartType.Bar"
        ChartSeries="@Series" 
        XAxisLabels="@XAxisLabels"
        Width="100%" />
</div>

<MudTable Items="@listSale" Hover="true" Breakpoint="Breakpoint.Sm" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>@reportBy</MudTh>
        <MudTh>Sales</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="@(reportBy.Equals("month")? "date": "month")">@context.Key</MudTd>
        <MudTd DataLabel="Sales">@(string.Format("${0:N2}", context.Value))</MudTd>
    </RowTemplate>
</MudTable>

@code {
    private string reportBy = "month";
    private int year = DateTime.Now.Year;
    private int month = DateTime.Now.Month;
    private List<int> listYear = new(3);
    private List<DataPointViewModel> listSale = new();
    public List<ChartSeries> Series = new();
    public string[] XAxisLabels = new string[0];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        for (int i = year; i > 2022 ; i--)
        {
            listYear.Add(i);
        }

        try
        {
            await HandleReport();
            StateHasChanged();
        }
        catch (Exception)
        {
            throw;
        }
    }

    private async Task HandleReport()
    {
        Console.WriteLine($"reportBy: {reportBy}, year: {year}, month: {month}");
        if (reportBy == "year")
        {
            listSale = await _httpService.Get<List<DataPointViewModel>>($"/Order/ReportSale/{year}");

            Series = new List<ChartSeries>()
            {
                new ChartSeries() { Name = $"Sale in {year}", Data = listSale.Select(l => l.Value).ToArray() }
            };
        }
        else
        {
            listSale = await _httpService.Get<List<DataPointViewModel>>($"/Order/ReportSale/{year}/{month}");

            Series = new List<ChartSeries>()
            {
                new ChartSeries() { Name = $"Sale in {year}-{month}", Data = listSale.Select(l => l.Value).ToArray() }
            };

        }
        XAxisLabels = listSale.Select(l => l.Key).ToArray();
        StateHasChanged();
    }

}

