<MudNavMenu>
    @if (categories == null)
    {
        <LoaderPizza />
    }
    else
    {
        @foreach (var category in categories)
        {
            <MudNavLink
                Href="@("/category/" + category.Alias)" 
                Match="NavLinkMatch.All" >

                <div class="d-flex justify-start align-center gap-2">
                    <MudIcon Style="@($"color: {category.IconColor ?? "yellow"};")"
                             Icon="@(string.IsNullOrEmpty(category.Icon)?
                        @Icons.Material.Filled.TableRows:
                        category.Icon)" />

                    <MudText Typo="Typo.h6">
                        @category.Name
                    </MudText>
                </div>
            </MudNavLink>
        }
    }
</MudNavMenu>

@code {
    private List<Category> categories { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        categories = await _httpService.GetAll<Category>("Category/GetAll");
    }
}
