@using System.Net.Http.Headers;
@using Microsoft.JSInterop;
@inject IProductService _productService
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime
<!--
/////////////////////////////////////////////
    INJECT ONLY ONE FOR EACH PAGE
/////////////////////////////////////////////
-->
<div class="modal fade" id="__add_product_modal" 
    data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="__add_product_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Add new product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <EditForm OnValidSubmit="HandleAddProduct" Model="Product">
                <DataAnnotationsValidator />
                <div class="modal-body">

                    <div class="form-floating mb-3">
                        <InputText class="form-control" placeholder=" " @bind-Value="@Product.Name" />
                        <label>Product name</label>
                        <ValidationMessage For="@(() => Product.Name)" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputTextArea class="form-control" placeholder=" " @bind-Value="@Product.Description" />
                        <label>Desciption</label>
                        <ValidationMessage For="@(() => Product.Description)" />
                    </div>

                    <div class="form-floating mb-3">
                        <InputNumber class="form-control" placeholder=" " @bind-Value="@Product.Price" />
                        <label>Price</label>
                        <ValidationMessage For="@(() => Product.Price)" />
                    </div>

                    <div class="mb-3">
                        <label class="mb-1" for="img-file">Images</label>
                        <InputFile type="file" id="img-file" class="form-control" placeholder=" "
                            OnChange="OnFileSelected" accept="image/*" name="product_image" required />
                        @if (_fileErrorMessage != null)
                        {
                            <div class="validation-message">
                                @_fileErrorMessage
                            </div>
                        }
                    </div>

                    <div class="">
                        <label>Image priview</label>
                        <div class="text-center border rounded p-2 object-fit-contain">
                            @if (string.IsNullOrEmpty(_imgUrl))
                            {
                                <small class="text-muted">Please choose an image of product.</small>
                            }
                            else
                            {    
                                <img src="@_imgUrl" alt="preview" class="mw-100"/>
                            }
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <button 
                        type="submit"
                        class="btn btn-primary btn-sm"
                        data-bs-dismiss="@(_isFormValid ? "modal" : null)"
                        @onclick="CheckEmptyFile">
                        Save
                    </button>
                </div>

            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public required ProductViewModel Product { get; set; }
    [Parameter]
    public required EventCallback<Task> SaveButtonHandler { get; set; }

    private IBrowserFile _browserFile { get; set; } = null!;
    private string? _fileErrorMessage { get; set; }
    private string _imgUrl { get; set; } = null!;
    private bool _isFormValid { get; set; } = false;

    private async Task HandleAddProduct()
    {
        try
        {
            Product.ImagePath = await HandleUploadFile();
            await _productService.CreateAsync(Product);
            Console.WriteLine("Added product sucessfully!");
            Console.WriteLine(Product.ImagePath);
            await SaveButtonHandler.InvokeAsync();
        }
        catch (ConnectException e)
        {
            Console.WriteLine(e.Message);
        }
    }

    private async Task OnFileSelected(InputFileChangeEventArgs e)
    {
        _browserFile = e.File;
        if (_browserFile != null)
        {
            _imgUrl = await _jsRuntime.InvokeAsync<string>("createTempUrl", "img-file");
        }
        CheckEmptyFile();
    }

    private async Task<string> HandleUploadFile()
    {
        // get file from input
        StreamContent fileContent = new StreamContent(_browserFile.OpenReadStream(long.MaxValue));
        string fileName = _browserFile.Name;

        var content = new MultipartFormDataContent();
        content.Headers.ContentDisposition = new ContentDispositionHeaderValue("form-data");
        content.Add(fileContent, "file", fileName);
        Console.WriteLine("Upload image ok!");
        return await _productService.UploadProductImage(content);
    }

    private void CheckEmptyFile()
    {
        if (_browserFile == null)
        {
            _fileErrorMessage = "Please choose an image of product.";
        }
        else
        {
            _fileErrorMessage = null;
        }
        StateHasChanged();
    }
}
